* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url(background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    top: 0;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 100px;
}

header a {
    text-decoration: none;
    color: #180501;
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
    font-weight: 800;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: #180501;
    border: 3px solid #3d140b;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px #180501;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: #efd1cb;
}

.wrapper .currencyConverter {
    width: 100%;
    padding: 50px;
}

.currencyConverter h3 {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 3px;
    word-spacing: 2.1px;
    padding-bottom: 2.5rem;
}

.input-group {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-group label {
    position: absolute;
    top: 40%;
    left: 10px;
    font-weight: 500;
    pointer-events: none;
    transform: translateY(-50%);
    transition: .3s;
    color: #341813;
    font-size: 20px;
    letter-spacing: 1px;
}

.input-group input:focus~label,
.input-group input:valid~label {
    top: -20px;
    color: #efd1cb;
}

.input-group input {
    width: 100%;
    height: 80%;
    background: #fff6f4;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #180501;
    font-weight: 500;
    padding: 0 10px 0 10px;
    border-radius: 5px;
}


.btn {
    width: 100%;
    height: 30px;
    border: #efd1cb;
    border-radius: 10px;
    font-size: 1rem;
    background: #fff6f4;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn:hover {
    background: #efd1cb;
    color: #180501;
}





.result-group {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.result-group label {
    position: absolute;
    top: 40%;
    left: 10px;
    font-weight: 500;
    pointer-events: none;
    transform: translateY(-50%);
    font-size: 20px;
    letter-spacing: 1px;
}

.result-group input:focus~label,
.result-group input:valid~label {
    top: -20px;
    color: #efd1cb;
}

.result-group input {
    width: 100%;
    height: 80%;
    background: #fff6f4;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #180501;
    font-weight: 500;
    padding: 0 10px 0 10px;
    border-radius: 5px;
}